body {
  --heading-font: "Jost", sans-serif;
  font-family: "Jost", sans-serif;
}
.main-btn {
  padding: 10px 12px;
  border-radius: 26px;
  width: 100%;
  background: linear-gradient(to bottom, #111111 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: bottom;
  font-size: 18px;
  font-weight: 500;
  color: black;
  transition: background-position 0.4s ease, color 0.4s ease;
}
.main-btn:hover {
  background-position: top;
  color: white;
}
.main-btn2 {
  background: linear-gradient(to bottom, #111111 50%, #fff 50%);
  border: 1px solid #747474;
  background-size: 100% 200%;
  background-position: bottom;
  color: #000;
}
.main-btn2:hover {
  background-position: top;
  color: #fff;
}
.title-btn {
  padding: 10px 12px;
  border-radius: 26px;
  width: 50%;
  background: #fff;
  opacity: 0.8;
  color: #000;
  transition: 0.5s;
}
.title-btn:hover {
  background-color: black;
  color: #fff;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000000 !important; /* or white if on dark bg */
  transition: background-color 9999s ease-in-out 0s;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

input:-webkit-autofill::first-line {
  font-family: inherit;
}
.section-title {
  font-size: 36px;
  font-weight: 500;
}
.section-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}
